/* TODO remove temporary dirty fix */
.bd-content {
    flex-direction: column;
    margin-inline: 20px;
}

#assessment, #to-ide-or-not-to-ide, #conventions-used-in-this-document {
    margin-inline: 20px;
}

